
body {
  background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
}

h3 {
	/*color: #95a5a6;*/
    color: #02936f;
	font-weight: 300;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: #ce0218;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
    color: #70db70;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav:hover > li > a {
    color: #70db70;
}

.navbar-toggle {
    background-color: #ce0218 !important;
}

.navbar-toggle:hover {
    background-color: #02936f !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    /*border-color: #DB3434;*/
}

.pTitle {
    color: #fff !important;
    font-size: 20px !important;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mt h4 {
    color: #02936f !important;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	color: #02936f;
}


/* HeaderWrap */
#headerwrap {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #ce0218;
	margin-top: -20px;
	padding-top:100px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}

.btn-join {
    color: #ffffff;
    background-color: #02936f;
    border-color: #357ebd;
}
.btn-lg1 {
    padding: 8.5px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.divider {
    width: 100%;
    margin-top: -12px;
    /*margin-top: -467px;*/
    z-index: 10000;
    position: relative;
}

.share-header {
    margin-top: -30px !important;
}

.progress {
    background-color: #B1B1B1 !important;
}

.container-social-div {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #252525;
}

.social-div h3, h4 {
    color: #fff !important;
}

.social-div i {
    color: #fff !important;
}

.social-div p {
    color: #fff !important;
}

.container-footer {
    padding-right: 15px;
    padding-left: 15px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #000;
}

.container-footer p {
    color: #fff;
}
