a.wt
{
	display: none;
}
a.txt
{
	display: none;
}

/*a.pin
	{
		data-pin-height="28";
	}*/


@media screen and (max-width: 640px) {
	a.wt
	{
		display: inline-block;
	}
	a.txt
	{
		display: inline-block;
	}
	/*a.re
	{
		display: none;
	}*/

	/*a.pin
	{
		data-pin-height="20";
	}*/

	i.fa-4x
	{
		font-size: 3.5em !important;
	}
}