/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  overflow-x:hidden;
}

p {
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'Roboto', sans-serif;
}

/*h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
}*/