<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <title>{% block title %} {% endblock %}</title>

    <link href="{% static 'css/bootstrap_launch.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> -->
        

    <!-- Custom styles for this template  -->

    <link href="{% static 'css/main.css' %}" rel="stylesheet">

     <link href="{% static 'css/social_buttons.css' %}" rel="stylesheet">

    <!-- {% block jumbotron_css %}

    {% endblock %}
 -->
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>

      <!-- Fonts from Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>


    {% block styles %}

    {% endblock %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="view-source:getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

  {% block content %}

  {% endblock %}
  
  <div class="container-social-div">
    <div class="row social-div centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h3>Follow Us</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row social-div centered">
      <div class="col-lg-4">
        <a href="https://www.facebook.com/Kenyawebmobile/?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-4x"></i></a>
        <h4>Like Us</h4>
        <p>To see our daily updates.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <a href="https://twitter.com/KenyawebMobile" target="_blank"><i class="fa fa-twitter-square fa-4x"></i></a>
       <h4>Follow Us</h4>
        <p>To interact with us.</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <a href="https://www.youtube.com/channel/UCuxXD2oO5vSkGECEeiKPohA" target="_blank"><i class="fa fa-youtube fa-4x"></i></a>
        <h4>Subscribe</h4>
        <p>Find our latest video.</p>


      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
  
  <div class="container-footer">
    <p class="centered">&copy; Kenyaweb.com LTD 2016</p>
  </div><!-- /container -->
  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap_launch.min.js' %}"></script>

    <script>
    $(document).ready(function(){
        {% block jquery %}

        {% endblock %}

    });
    </script>
  </body>
</html>
