<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> -->
        

    <!-- Custom styles for this template 
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet"> -->

    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">

     <link href="{% static 'css/social_buttons.css' %}" rel="stylesheet">

    <!-- {% block jumbotron_css %}

    {% endblock %}
 -->
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>

    <style>
	body {
		padding-top: 0;
	    padding-bottom: 0;
	}
  .navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
  }
  .navbar-inverse .navbar-brand, .navbar-brand:hover {
    color: white;
  }
  .featured-row {
        text-align:center;
        background-color:white;
        min-height:200px;
        padding:40px 0;
        border-bottom: 1px solid #EEE;

      }

  .navbar-inverse {
    background-color: #3F51B5 !important;
    border-color: #3F51B5 !important;
  }

  .jumbotron h1 {
        font-weight: 100;
      }

  .jumbotron p {
    font-weight: 100;
    font-size: 24px;
  }

    </style>

    {% block styles %}

    {% endblock %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="view-source:getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block content %}

  	{% endblock %}

    <div class="row" style="margin-top:80px;background-color:grey;">
    <div class="container" style="text-align:center; padding:20px;">

      <footer>
        <p>&copy; kenyaweb-launchr 2015</p>
      </footer>
    </div> <!-- /container -->
    </div> <!-- /row -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
    $(document).ready(function(){
        {% block jquery %}

        {% endblock %}

    });
    </script>

    <!-- Pinterest JS -->
    <script async defer src="https://assets.pinterest.com/js/pinit.js"></script>

    <!-- Font Awesome JS -->
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
  </body>
</html>
