{% extends "base.html" %}
{% load staticfiles %}

{% block title %}

	HomePage

{% endblock %}


{% block styles %}

    <style>
      body {
        border-top: 4px solid #3F51B5;
        /*min-height: 5000px;*/
        background: url('{% static "img/banner2.jpg" %}') no-repeat center center fixed;
        /*Browser prefixes for older browser*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
        background-size: cover;
        /*background-repeat: no-repeat;*/
        /*background-image: url('{% static "img/beach.jpg" %}');*/
      }

      /*.featured-row {
        text-align:center;
        background-color:white;
        min-height:200px;
        padding:40px 0;
        border-bottom: 1px solid #EEE;

      }*/

    </style>

{% endblock %}


<!-- {% block jumbotron_css %}
<link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    
{% endblock %} -->

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color: white;">
      <div class="container">
        <div class="col-sm-6">
          <h1>Kenyaweb.com Ltd</h1>
          <p>This is a template for a simple marketing or informational website. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-default btn-lg btn-block" href="#signup" role="button">Be First &raquo;</a></p>
          <!-- <p><a class="btn btn-default btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
          </div>
           <div class="col-sm-6">
            <img src="{% static 'img/iphone.jpg' %}" class="img-responsive" alt="HomePage Image" />
          </div>
      </div>
    </div>


<div class="container" style="text-align:center; color:#3F51B5" id="signup">
<div class="col-sm-6 col-sm-offset-3">
<i class="fa fa-key fa-5x"></i>
<h1>Unlock First</h1>

<form class="form-horizontal" method="POST" action=""> {% csrf_token %}
  <div class="form-group form-group-lg">
  {% if form.email.errors %}
    {% for err in form.email.errors %}
      <div class="alert alert-danger" role="alert">{{ err }}</div>
      <div class="alert alert-danger" role="alert">Your Email is required.</div>
    {% endfor %}
  {% endif %}
    
    <div class="input-group">
    <input class="form-control" type="email" name="email" placeholder="Your email..." />
        <span class="input-group-btn">
          <input type="submit" value="Join" class="btn btn-primary btn-lg" />
        </span>
    </div>
    </div>
</form>
  <p class="lead">Sign up here. <br/> Get First News on Content.</p>
</div>

</div>



<div class="row featured-row">
  <div class="col-sm-12">

    <div class="col-sm-3">
      <i class="fa fa-cart-arrow-down fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>

    <div class="col-sm-3">
      <i class="fa fa-clock-o fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>

    <div class="col-sm-3">
      <i class="fa fa-gift fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>

    <div class="col-sm-3">
      <i class="fa fa-credit-card fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>
  </div>


</div>

<div class="row featured-row">
  <div class="col-sm-12">

    <div class="col-sm-3 col-sm-offset-3">
      <i class="fa fa-cart-arrow-down fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>



    <div class="col-sm-3">
      <i class="fa fa-credit-card fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>
  </div>


</div>




<div class="row featured-row">
  <div class="col-sm-12">
    <div class="col-sm-3">
      <i class="fa fa-cart-arrow-down fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>

    <div class="col-sm-3">
      <i class="fa fa-clock-o fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>

    <div class="col-sm-3">
      <i class="fa fa-gift fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>

    <div class="col-sm-3">
      <i class="fa fa-credit-card fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>
  </div>


</div>

{% endblock %}


