{% extends "base_template.html" %}
{% load staticfiles %}

{% block title %}
	HomePage
{% endblock %}

{% block content %}

      <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>KWEB ONLINE MARKETER</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">More about the Online Marketer</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Kenyaweb.com<br/>
          Unlock your Potential.</h1>
          <p class="pTitle">This is a Promotional Website.
					<br/><br/> We at Kenyaweb want to reward our faithful subscribers and cheerleaders ;) just before we launch the main website.
					<br/><br/> So scroll below for more information on how to win amazing prizes for following and sharing with Kenyaweb.</p>
          <!-- <form class="form-inline" role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
          </form>  -->        
        </div><!-- /col-lg-6 --> 
        <div class="col-lg-6">
        <img class="img-responsive" src="{% static 'img/banner1.png' %}" alt="">
      </div>       
      </div><!-- /row --> 
    </div><!-- /container -->
  </div><!-- /headerwrap -->
  <div class="divider">
          <img class="img-responsive" src="{% static 'img/divide1.png' %}" alt="">
        </div><!-- /col-lg-6 -->
  
  
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>How To Win<br/>Amazing Prizes!!</h1>
        <h3>Here is how to win amazing prizes with Kenyaweb.com
					<br/> in 3 simple steps:</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4">
        <img src="{% static 'img/mail-launch.png' %}" width="180" alt="">
        <h4>1 - Email</h4>
        <p>Enter your email address in the email placeholder below to generate your unique link.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="{% static 'img/share-launch.png' %}" width="180" alt="">
       <h4>2 - Share</h4>
        <p>Share your unique link as many times as you can on Social Media. <br/> The more times you share, the higher your chances of winning!!</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="{% static 'img/gift-launch.png' %}" width="180" alt="">
        <h4>3 - Win!</h4>
        <p>The higher the number of Subscribes you get, the higher your chances of winning better Prizes.</p>


      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
  
	<!-- EMAIL FORM -->

  <div class="container">
    <hr>
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-3">
        <form class="form-horizontal" method="POST" action=""> {% csrf_token %}

          <div class="form-group form-group-lg">

<h1><i class="fa fa-key fa-1x"></i> Unlock First <i class="fa fa-key fa-1x"></i></h1>
          {% if form.email.errors %}
				    {% for err in form.email.errors %}
				      <!-- <div class="alert alert-danger" role="alert">{{ err }}</div> -->
				      <div class="alert alert-danger" role="alert">Your Email is required.</div>
				    {% endfor %}
				  {% endif %}

			<div class="input-group">
            <input class="form-control" type="email" name="email" placeholder="Enter your email address..." />
            <span class="input-group-btn">
				          <input type="submit" value="Join" class="btn btn-join btn-lg1" />
				        </span>
          </div>
          </div>
        </form>         
      </div>
      <div class="col-lg-3"></div>
    </div><!-- /row -->
    <hr>
  </div><!-- /container -->
  
<!--   <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Flatty is for Everyone.</h1>
        <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
      </div>
    </div> --><!-- /row -->
  
    <! -- CAROUSEL -->
<!--     <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
          <!-- Indicators -->
<!--           <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol> -->
        
          <!-- Wrapper for slides -->
<!--           <div class="carousel-inner">
            <div class="item active">
              <img src="{% static 'img/p01.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'img/p02.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'img/p03.png' %}" alt="">
            </div>
          </div>
        </div>  -->     
<!--       </div> --><!-- /col-lg-8 -->
<!--     </div> --><!-- /row -->
<!--   </div> -->
	<! --/container -->
  

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>The Prizes.</h1>
        <h3>Here is a list of some of the prizes that are up for grabs. More Prizes can be seen on the Share Page.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-3">
        <img class="img-circle" src="{% static 'img/icon1.png' %}" width="140" alt="">
        <h4>Web Services</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{% static 'img/icon2.png' %}" width="140" alt="">
        <h4>Software Services</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{% static 'img/icon3.png' %}" width="140" alt="">
        <h4>Mobile Apps Services</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-4 -->
      <div class="col-lg-3">
        <img class="img-circle" src="{% static 'img/icon4.png' %}" width="140" alt="">
        <h4>Internet Services</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-3 -->
    </div><!-- /row -->
  </div><!-- /container -->

{% endblock %}