{% extends "base_template.html" %}
{% load staticfiles %}

{% block jquery %}

$signUpCount = {{ count }};

// $(".progress-bar").css("width", "80%").attr("aria-valuenow", "80").text("80%");

function completeBlock(progressBarId){
	$(progressBarId).css("width", "100%").attr("aria-valuenow", "100").text("Completed");	
};

function setNewPerc(progressBarId, percentNum, newText){
	// $(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum).text("Almost..."); -->
	// $(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum).text(newText);

	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);

	if (percentNum < 50){
		// $(progressBarId).text("So close to half");
		$(progressBarId).text(newText);
	} else {
		$(progressBarId).text(newText);
	}
};

if ($signUpCount == 0) {
	
} else if ($signUpCount > 0 && $signUpCount < 5) {
	$newPercent = $signUpCount/5 * 100;
	setNewPerc("#count5", $newPercent, "Number of Friends " + $signUpCount);
	
} else if ($signUpCount>=5 && $signUpCount < 15) {
	completeBlock("#count5");

	$newCount = $signUpCount - 5;
	$newPercent = $newCount/(15-5) * 100;

	setNewPerc("#count15", $newPercent, "Number of Friends " + $signUpCount);

} else if ($signUpCount >=15 && $signUpCount < 25) {
	completeBlock("#count5");
	completeBlock("#count15");

	$newCount = $signUpCount - 15;
	$newPercent = $newCount/(25-15) * 100;

	setNewPerc("#count25", $newPercent, "Number of Friends " + $signUpCount);

} else if ($signUpCount >=25 && $signUpCount < 50) {
	completeBlock("#count5");
	completeBlock("#count15");
	completeBlock("#count25");

	$newCount = $signUpCount - 25;
	$newPercent = $newCount/(50-25) * 100;

	setNewPerc("#count50", $newPercent, "Number of Friends " + $signUpCount);

} else {
	completeBlock("#count5");
	completeBlock("#count15");
	completeBlock("#count25");
	completeBlock("#count50");	
}

{% endblock %}

{% block title %}
	SharePage
{% endblock %}

{% block content %}

	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}"><b>KWEB ONLINE MARKETER</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">More about the Online Marketer</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
        <img class="img-responsive" src="{% static 'img/kweb-icon.png' %}" alt="Kenyaweb Logo">

          <h1 class="share-header">
<!-- 			<i style="color: #fff;" class="fa fa-share-alt"></i> -->
			<br/>
         Invite Friends &amp; Earn Rewards!</h1>
          <p class="pTitle">Share your unique link below via Email, Facebook, Twitter, Reddit, or LinkedIn to earn rewards from Kenyaweb.com.</p>

          <div class="well" style="background-color:white;">{{ ref_url }}</div>

          <h3 style="color: #fff;">Share:</h3>

          <a class="fb" href="https://www.facebook.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
                    <i class="fa fa-facebook-square fa-4x" style="color:#ffffff"></i>
          </a>

          <a class="twit" href="https://twitter.com/home?status=Join%20today%20for%20unbelievable%20offers%20and%20prizes%20by%20referring%20your%20friends!!%20%23tags.%20Tweet%20%40kenyaweb%20{{ ref_url }}" target="_blank">

          <i class="fa fa-twitter-square fa-4x" style="color:#ffffff"></i>
      </a>
    
    <a class="ln" href="https://www.linkedin.com/shareArticle?mini=true&url={{ ref_url }}&title=KenyawebLaunchr%20title%20is%20here.&summary=KenyawebLaunchr%20summary%20is%20here.&source={{ ref_url }}" target="_blank">
          <i class="fa fa-linkedin-square fa-4x" style="color:#ffffff"></i>
        </a>

        <!-- <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/?url=http://www.foodiecrush.com/2014/03/filet-mignon-with-porcini-mushroom-compound-butter/&media=https://s-media-cache-ak0.pinimg.com/736x/17/34/8e/17348e163a3212c06e61c41c4b22b87a.jpg&description=So%20delicious!" data-pin-height="28">
          <i class="fa fa-pinterest fa-4x" style="color:#bd081c"></i>
        </a> -->

        <!-- <a class="pin" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url={{ ref_url }}&media={% static 'img/iphone.jpg' %}&description=Join%20today%20for%20unbelievable%20offers%20and%20prizes%20by%20referring%20your%20friends!!%20%23tags.%20Tweet%20%40kenyaweb%20" data-pin-color="red" data-pin-height="28">
        </a> -->

        <!-- <a class="pin">
        <i class="fa fa-pinterest fa-4x" style="color:#bd081c"></i>
        <img src="{{ object.image.url }}" />
        </a>
 -->
    <a class="re" href="http://www.reddit.com/submit?url={{ ref_url }}&title=KenyawebLaunchr%20title%20is%20here." target="_blank">
          <i class="fa fa-reddit-square fa-4x" style="color:#ffffff"></i>
        </a>

        <!-- <a class="ig" href="https://www.instagram.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
          <i class="fa fa-instagram fa-4x" style="color:#3f729b"></i>
        </a> -->

          <a class="gp" href='https://plus.google.com/share?url=http://mobile.kenyaweb.com/' target="_blank">
          <i class="fa fa-google-plus-square fa-4x" style="color:#ffffff"></i>
          </a>

          <!-- <a class="wt" href="whatsapp://send?text=http://mobile.kenyaweb.com"><i class="fa fa-whatsapp fa-4x" style="color:#ffffff"></i>
          </a> -->
          <!-- <a href="whatsapp://send?text=http://webdevelopmentscripts.com">Share on whatsapp</a> -->

          <!-- <a class="txt"><i class="fa fa-envelope fa-4x"></i></a> -->

          <!-- <form class="form-inline" role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
          </form>  -->        
        </div><!-- /col-lg-6 --> 
        <div class="col-lg-6">
        <img class="img-responsive" src="{% static 'img/banner3.png' %}" alt="">
      </div>       
      </div><!-- /row --> 
    </div><!-- /container -->
  </div><!-- /headerwrap -->
  <div class="divider">
          <img class="img-responsive" src="{% static 'img/divide1.png' %}" alt="">
        </div><!-- /col-lg-6 -->
  
  
  <div class="container">
    <div class="row mt centered">
      <div class="well col-lg-6 col-lg-offset-3" style="background-color:#dedede;">
        <h1>Awesome! <br/> You have successfully invited: <b style="color: #02936f;">{{ count }}</b> people. <br/></h1>
      </div>
    </div><!-- /row -->
<hr/>
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>How it Works.</h1>
        <h3>Friends join, you earn rewards.</h3>
        <h3>The tiers and rewards are below.</h3>
        <h3>Your count is updated automatically.</h3>
        <h3>Your information is private.</h3>
        <h3>This page is public.</h3>
      </div>
    </div><!-- /row -->
<hr/>
    
    <div class="row mt centered">
      <div class="col-sm-3">
        <h4>5 Invited</h4>
        <div class="progress">
        <div class="progress-bar" id="count5" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          0%
        </div>
        </div>
        <h4>Reward Name</h4>
    <img src="{% static 'img/imag1.jpg' %}" />
    <hr/>
    <span style="text-align:left !important;">
    <h5>Rewards Include:</h5>
      <ul>
        <li>Reward 1</li>
        <li>Reward 2</li>
      </ul>
    </span>
      </div><!--/col-lg-4 -->

      <div class="col-sm-3">
       <h4>15 Invited</h4>
        <div class="progress">
        <div class="progress-bar" id="count15" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          0%
        </div>
        </div>
        <h4>Reward Name</h4>
    <img src="{% static 'img/imag2.jpg' %}" />
    <hr/>
    <span style="text-align:left !important;">
    <h5>Rewards Include:</h5>
      <ul>
        <li>Reward 1</li>
        <li>Reward 2</li>
      </ul>
    </span>
      </div><!--/col-lg-4 -->

      <div class="col-sm-3">
<!--         <img src="{% static 'img/gift-launch.png' %}" width="180" alt=""> -->
        <h4>25 Invited</h4>
         <div class="progress">
        <div class="progress-bar" id="count25" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          0%
        </div>
        </div>
        <h4>Reward Name</h4>
    <img src="{% static 'img/imag3.jpg' %}" />
    <span style="text-align:left !important;">
    <h5>Rewards Include:</h5>
      <ul>
        <li>Reward 1</li>
        <li>Reward 2</li>
      </ul>
    </span>
      </div><!--/col-lg-4 -->

            <div class="col-sm-3">
<!--         <img src="{% static 'img/gift-launch.png' %}" width="180" alt=""> -->
        <h4>50 Invited</h4>
         <div class="progress">
        <div class="progress-bar" id="count50" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          0%
        </div>
        </div>
        <h4>Reward Name</h4>
<img src="{% static 'img/imag4.jpg' %}" />
    <hr/>
    <span style="text-align:left !important;">
    <h5>Rewards Include:</h5>
      <ul>
        <li>Reward 1</li>
        <li>Reward 2</li>
      </ul>
    </span>
      </div><!--/col-lg-4 -->


    </div><!-- /row -->
  </div><!-- /container -->
<hr/>
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Rewards are for Everyone.</h1>
        <h3>We will email you once the Promotion Campaign is done to collect your reward.</h3>
      </div>
    </div><!-- /row -->

  </div> <!-- container -->
  
    <! -- CAROUSEL -->
<!--     <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
          <!-- Indicators -->
<!--           <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol> -->
        
          <!-- Wrapper for slides -->
<!--           <div class="carousel-inner">
            <div class="item active">
              <img src="{% static 'img/p01.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'img/p02.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'img/p03.png' %}" alt="">
            </div>
          </div>
        </div>  -->     
<!--       </div> --><!-- /col-lg-8 -->
<!--     </div> --><!-- /row -->
<!--   </div> -->
	<! --/container -->
  

  <div class="container">
    
    <div class="row mt centered">
      <div class="col-lg-3">
        <img class="img-circle" src="{% static 'img/icon1.png' %}" width="140" alt="">
        <h4>Web Services</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{% static 'img/icon2.png' %}" width="140" alt="">
        <h4>Software Services</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{% static 'img/icon3.png' %}" width="140" alt="">
        <h4>Mobile Apps Services</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-4 -->
      <div class="col-lg-3">
        <img class="img-circle" src="{% static 'img/icon4.png' %}" width="140" alt="">
        <h4>Internet Services</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-3 -->
    </div><!-- /row -->
  </div><!-- /container -->

{% endblock %}