{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}

<!-- We do this to get rid of bottom border line. -->
<style>
	.featured-row {
		border:none !important;
	}
</style>

{% endblock %}


{% block jquery %}

$signUpCount = {{ count }};

// $(".progress-bar").css("width", "80%").attr("aria-valuenow", "80").text("80%");

function completeBlock(progressBarId){
	$(progressBarId).css("width", "100%").attr("aria-valuenow", "100").text("Completed");	
};

function setNewPerc(progressBarId, percentNum, newText){
	// $(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum).text("Almost..."); -->
	// $(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum).text(newText);

	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);

	if (percentNum < 50){
		// $(progressBarId).text("So close to half");
		$(progressBarId).text(newText);
	} else {
		$(progressBarId).text(newText);
	}
};

if ($signUpCount == 0) {
	
} else if ($signUpCount > 0 && $signUpCount < 5) {
	$newPercent = $signUpCount/5 * 100;
	setNewPerc("#count5", $newPercent, "Number of Friends " + $signUpCount);
	
} else if ($signUpCount>=5 && $signUpCount < 15) {
	completeBlock("#count5");

	$newCount = $signUpCount - 5;
	$newPercent = $newCount/(15-5) * 100;

	setNewPerc("#count15", $newPercent, "Number of Friends " + $signUpCount);

} else if ($signUpCount >=15 && $signUpCount < 25) {
	completeBlock("#count5");
	completeBlock("#count15");

	$newCount = $signUpCount - 15;
	$newPercent = $newCount/(25-15) * 100;

	setNewPerc("#count25", $newPercent, "Number of Friends " + $signUpCount);

} else if ($signUpCount >=25 && $signUpCount < 50) {
	completeBlock("#count5");
	completeBlock("#count15");
	completeBlock("#count25");

	$newCount = $signUpCount - 25;
	$newPercent = $newCount/(50-25) * 100;

	setNewPerc("#count50", $newPercent, "Number of Friends " + $signUpCount);

} else {
	completeBlock("#count5");
	completeBlock("#count15");
	completeBlock("#count25");
	completeBlock("#count50");	
}

{% endblock %}


{% block title %}

	Share Page

{% endblock %}


{% block content %}
{% include "navbar.html" %}

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <div class="row">
        <div class="col-md-6 pull-right" style="text-align:center;">
        <h1>
        	<i class="fa fa-share-alt"></i>
        	<br>
          	Invite Friends &amp;<br/> Earn Rewards!
          </h1>
          <p>Share your unique link below via Email, Facebook, Twitter, Reddit, or LinkedIn to earn rewards from kenyaweb-launchr.com.</p>
          <div class="well" style="background-color:white;">{{ ref_url }}</div>
          Share:	<br/>

          <a class="fb" href="https://www.facebook.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
          <i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
          </a>

          <a class="twit" href="https://twitter.com/home?status=Join%20today%20for%20unbelievable%20offers%20and%20prizes%20by%20referring%20your%20friends!!%20%23tags.%20Tweet%20%40kenyaweb%20{{ ref_url }}" target="_blank">

          <i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
		  </a>
		
		<a class="ln" href="https://www.linkedin.com/shareArticle?mini=true&url={{ ref_url }}&title=KenyawebLaunchr%20title%20is%20here.&summary=KenyawebLaunchr%20summary%20is%20here.&source={{ ref_url }}" target="_blank">
          <i class="fa fa-linkedin-square fa-4x" style="color:#007bb6"></i>
        </a>

        <!-- <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/?url=http://www.foodiecrush.com/2014/03/filet-mignon-with-porcini-mushroom-compound-butter/&media=https://s-media-cache-ak0.pinimg.com/736x/17/34/8e/17348e163a3212c06e61c41c4b22b87a.jpg&description=So%20delicious!" data-pin-height="28">
        	<i class="fa fa-pinterest fa-4x" style="color:#bd081c"></i>
        </a> -->

        <!-- <a class="pin" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url={{ ref_url }}&media={% static 'img/iphone.jpg' %}&description=Join%20today%20for%20unbelievable%20offers%20and%20prizes%20by%20referring%20your%20friends!!%20%23tags.%20Tweet%20%40kenyaweb%20" data-pin-color="red" data-pin-height="28">
        </a> -->

        <!-- <a class="pin">
        <i class="fa fa-pinterest fa-4x" style="color:#bd081c"></i>
        <img src="{{ object.image.url }}" />
        </a>
 -->
		<a class="re" href="http://www.reddit.com/submit?url={{ ref_url }}&title=KenyawebLaunchr%20title%20is%20here." target="_blank">
          <i class="fa fa-reddit-square fa-4x" style="color:#900020"></i>
        </a>

        <!-- <a class="ig" href="https://www.instagram.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
          <i class="fa fa-instagram fa-4x" style="color:#3f729b"></i>
        </a> -->

          <a class="gp" href='https://plus.google.com/share?url=http://codingforentrepreneurs.com' target="_blank">
          <i class="fa fa-google-plus-square fa-4x" style="color:#D34836"></i>
          </a>

          <a class="wt" href="whatsapp://send?text=http://mobile.kenyaweb.com"><i class="fa fa-whatsapp fa-4x" style="color:#43d854"></i>
          </a>
          <!-- <a href="whatsapp://send?text=http://webdevelopmentscripts.com">Share on whatsapp</a> -->

          <a class="txt"><i class="fa fa-envelope fa-4x"></i></a>

          </div>
           <div class="col-md-6 pull-left">
            <img src="{% static 'img/launch.jpg' %}" class="img-responsive img-rounded" alt="Share Image" />
          </div>
          </div>
      </div>
    </div>

<div class="container" style="text-align:center;">

Joined number is: {{ count }} <br/>

<div class="row">
	<div class="col-sm-3">
	<h3>5 Joined</h3>
		<div class="progress">
			  <div class="progress-bar" id="count5" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
		  </div>
		  <h4>Reward Name</h4>
		<img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
		<img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
		<hr/>
		<span style="text-align:left !important;">
		<h5>Rewards Include:</h5>
			<ul>
				<li>Reward 1</li>
				<li>Reward 2</li>
			</ul>
		</span>
		<hr/>
	</div>

	<div class="col-sm-3">
	<h3>15 Joined</h3>
		<div class="progress">
			  <div class="progress-bar" id="count15" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
		  </div>
		  <h4>Reward Name</h4>
		<img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
		<img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
		<hr/>
		<span style="text-align:left !important;">
		<h5>Rewards Include:</h5>
			<ul>
				<li>Reward 1</li>
				<li>Reward 2</li>
			</ul>
		</span>
		<hr/>
	</div>

	<div class="col-sm-3">
	<h3>25 Joined</h3>
		<div class="progress">
			  <div class="progress-bar" id="count25" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
		</div>
		<h4>Reward Name</h4>
		<img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
		<img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
		<hr/>
		<span style="text-align:left !important;">
		<h5>Rewards Include:</h5>
			<ul>
				<li>Reward 1</li>
				<li>Reward 2</li>
			</ul>
		</span>
		<hr/>
	</div>

	<div class="col-sm-3">
	<h3>50 Joined</h3>
		<div class="progress">
			  <div class="progress-bar" id="count50" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
		  </div>
		  <h4>Reward Name</h4>
		<img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
		<img src="https://cfe-static.s3.amazonaws.com/static/img/ico/apple-touch-icon-72-precomposed.png" />
		<hr/>
		<span style="text-align:left !important;">
		<h5>Rewards Include:</h5>
			<ul>
				<li>Reward 1</li>
				<li>Reward 2</li>
			</ul>
		</span>
		<hr/>
	</div>
	
</div>

<div class="row featured-row">
  <div class="col-sm-12">

    <div class="col-sm-3">
      <i class="fa fa-cart-arrow-down fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-credit-card fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-credit-card fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-cart-arrow-down fa-3x"></i>
        <h2>Feature</h2>
        <p class="lead">
          Some feature text goes here.
        </p>
    </div>

  </div>


</div>


</div>

{% endblock %}


